:root {
  --netlify-blue: #2250f4;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline-color: var(--netlify-blue);
}

* {
  box-sizing: border-box;
}
