.container {
  padding: 0 2rem;
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.title {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
  margin-bottom: 1rem;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.grid {
  display: grid;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  --border-color: var(--netlify-blue);
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 0.75rem solid var(--border-color);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card:nth-of-type(2) {
  --border-color: red;
}

.card:nth-of-type(3) {
  --border-color: turquoise;
}

.card:nth-of-type(4) {
  --border-color: fuchsia;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--netlify-blue);
  border-color: var(--netlify-blue);
}

.card h2 {
  color: var(--netlify-blue);
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.explainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.kitten {
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
